<div class="container">
  <h3 class="text-center">About this Project</h3>

  <p class="lead">
    This app is a simple yet effective way of demonstrating the power of pairing Solr with a Map visualization.
    Utilizing data from <a href="http://hmdb.org">HMDB</a> (The database of Historical Markers) and <a href="http://www.openlayers.org">OpenLayers</a>
    (A powerful opensource mapping tool), it's possible to provide users with interesting visualizations of events in US history.
  </p>

  <p class="lead">
    The code behind this application is intended to be easy to follow.  Essentially all that's happening behind the scenes is a basic query to Solr, converting
    the response to <a href="http://geojson.org/">GeoJSON</a> then feeding it into OpenLayers. 
  </p>

  <h4 class="text-center">Check out the Code</h4>
  <p class="lead text-center"><a href="https://github.com/worleydl/solr-spatial-viz">Let's go!</a></p>
</div>
