<div class="container">
  <h3 class="text-center">Search for Something in US History</h3>
  <div class="row">
    <div class="col-md-10">
      <input style="width: 100%;" type="text" ng-model="query" >
    </div>

    <div class="col-md-2">
      <button ng-click="doSearch()">Search!</button> 
    </div>
  </div>

  <hr style="margin: 10px;">

  <openlayers height="480px" width="100%" ol-center="center">
    <ol-marker ng-if="mapMode === 'Markers'" ng-repeat="marker in markers" ol-marker-properties="marker"></ol-marker>
    <ol-layer ng-if="mapMode === 'Heatmap'" ol-layer-properties="layer" ng-repeat="layer in layers"></ol-layer>
  </openlayers>

  <div class="text-center">
  <h4>Select Map Mode</h4>
    <div class="btn-group">
      <label class="btn btn-primary" ng-model="mapMode" btn-radio="'Markers'">Markers</label>
      <label class="btn btn-primary" ng-model="mapMode" btn-radio="'Heatmap'">Heatmap</label>
    </div>
  </div>
</div>
