<div class="container">
  <h3 class="text-center">Search for Something in History</h3>
  <div class="row">
    <div class="col-md-10">
      <input style="width: 100%;" type="text" ng-model="query" >
    </div>

    <div class="col-md-2">
      <button ng-click="doSearch()">Search!</button> 
    </div>
  </div>

  <hr style="margin: 10px;">

  <openlayers height="480px" width="100%">
    <!-- <ol-marker ng-repeat="marker in markers" lat="marker.geometry.coordinates[0]" lon="marker.geometry.coordinates[1]"></ol-marker>  -->
    <ol-layer ol-layer-properties="layer" ng-repeat="layer in layers"></ol-layer>
  </openlayers>
</div>
